# --- Secrets (NEVER UPLOAD) ---
backend/client_secret.json
frontend/.env

# --- Heavy Dependencies ---
backend/venv/
frontend/node_modules/
frontend/dist/

# --- System & Cache Files ---
backend/__pycache__/
backend/*.pyc
.DS_Store